<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lector</title>
</head>
<body>

    <div id="contenedor">
        <section id="zonaFormulario">
            <form name="formulario">
                <p>Seleccione un archivo<br><input type="file" name="archivos" id="archivos"></p>
            </form>
        </section>

        <section id="zonaDatos">
            No hay archivos cargados aun
        </section>

    </div>    

    <script src="archivos.js"></script>
</body>
</html>