<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./leer.css">
    
  <title>Analizador</title>
</head>
<body>
  <header>
    <% include html/nav.html%>                                                  <!--Se agrega la barra de navegacion-->
  </header>
  <br>
  <div class="cargar-archivo">
    <form name="myForm">  
      <input name="myInput" type="file">                                        <!--Boton para subir archivos -->
    </form>
    <br>
    <div>
      <button class="button " id="postButton">Analizar palabra</button>           <!--Boton para pedir la siguiente palabra -->
      <button class="button " id="getButton">Obtener Token</button>               <!--Obtiene la palabra ya analizada desde el backend -->
    </div>
  </div>
  <br>

  <div class="prueba">
    <div id="div1">
      <table id="historial">
        <thead>
          <tr>
            <th> Palabra ingresada</th>                                             <!--Tabla para clasificar los tokens obtenidos -->
            <th> Tipo token</th>
            <th> Token</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    <div id="div2">
    </div>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="archivos.js"></script>                                               <!--Llama al script que manipula el archivo que se analizara -->

</body>

</html>